.vscode
.DS_Store
.depend
*.fasta
*.fa
*.gtf
*.fa.gz
*.o
*.bed
*.gch
*.txt
*.png
gtf_file_region_retrieval 
pssm_scan
pssm_scan_parquet
context
tests/test_pssm_scan
tests/test_gtf_file_region
tests/test_compressed_file_reader
*.gz
*.RData
*.pdf
*.png
*.svg
*.jpg
*.dSYM/
score_distributions_*/
